html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

header{
    background-color: black;
    position: fixed;
    top: 0px;
    width: 99vw;
    /*box-shadow: 12px 0px 10px 5px #525283;*/
    z-index: 20;
}
#header_logo{
    /*display: flex;*/
    position: relative;
    left: 15px;
    margin-top: 2px;
}
.logo{
    width: 180px;
}
header>nav{
    position: absolute;
    bottom: 0;
    right: 200px;
    top: 0;
    height: fit-content;
    width: fit-content;
    margin: auto;
    word-spacing: 35px;
    margin-top: 22px;
}
header>nav>a{
    color: white;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;

}
header>nav>a:hover{
    border: 1px solid black;
    border-radius: 5px;
    background:#1d1d30 ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
#home{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
#home>section:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    color: white;
    margin-top: 2px;
    margin-bottom: 3px;

}
#home_hd1{
    font-size: 37px;
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#first_word{
    color: #06EA53;
}
#home_hd2{
    font-family: "Shippori Antique B1", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}
#home_hd3{
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}
#btn1{
    height: 40px;
    width: 140px;
    background: #06EA53;
    color: white;
    border-radius: 7px;
    font-weight: 800;
    font-size: 20px;
}
#home>section:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
#circle1{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #06EA53;

}
#circle2{
    height: 360px;
    width: 360px;
    border-radius: 50%;
    background-color: #C3F2D0;
    margin-left: 20px;

}
#circle3 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #06EA53;
    transform: translate(150px,-20px);
    border: 8px solid black;
}
#circle4{
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #06EA53;
    border: 8px solid black;
    transform: translate(-10px ,-370px);
}
.blur_circles{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #06EA53;
    filter: blur(15px);
}
#circle5{
    transform: translate(-300px,-550px);
}
#circle6{
    transform: translate(-500px,-150px);
}
#my_image{
    height: 410px;
    transform: translate(30px,-49px);
    border: 1px solid transparent;
    border-bottom-left-radius: 200px;  /* Adjust to control the curve */
    border-bottom-right-radius: 200px; /* Adjust to control the curve */
}
