html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*height: 100%;*/

}
html{
    position: relative;
}

header{
    background-color: black;
    position: fixed;
    top: 0px;
    width: 99vw;
    box-shadow: 2px 0px 10px 5px #525283;
    z-index: 20;
}
#header_logo{
    /*display: flex;*/
    position: relative;
    left: 15px;
    margin-top: 2px;
}
.logo{
    width: 180px;
}
header>nav{
    position: absolute;
    bottom: 0;
    right: 200px;
    top: 0;
    height: fit-content;
    width: fit-content;
    margin: auto;
    word-spacing: 35px;
    margin-top: 22px;
}
header>nav>a{
    color: white;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;

}
header>nav>a:hover{
    color: #06EA53;
    transition-duration: 1s;
}
#home{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
#home>section:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    color: white;
    margin-top: 2px;
    margin-bottom: 3px;

}
#home_hd1{
    font-size: 37px;
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#first_word{
    color: #06EA53;
}
#home_hd2{
    font-family: "Shippori Antique B1", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}
#home_hd3{
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}
#btn1{
    height: 40px;
    width: 140px;
    background: black;
    color: white;
    border-radius: 7px;
    border: 2px solid #06EA53;
    font-weight: 800;
    font-size: 20px;
}
#home>section:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
#circle1{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: #06EA53;

}
#circle2{
    height: 360px;
    width: 360px;
    border-radius: 50%;
    background-color: #C3F2D0;
    margin-left: 20px;

}
#circle3 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #06EA53;
    transform: translate(150px,-20px);
    border: 8px solid black;
}
#circle4{
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #06EA53;
    border: 8px solid black;
    transform: translate(-10px ,-370px);
}
.blur_circles{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #06EA53;
    filter: blur(15px);
}
#circle5{
    transform: translate(-300px,-550px);
}
#circle6{
    transform: translate(-500px,-150px);
}
#btn1:hover{
    background: #06EA53;
    transition-duration: 1s;
}
#my_image{
    height: 410px;
    transform: translate(30px,-49px);
    border: 1px solid transparent;
    border-bottom-left-radius: 200px;  /* Adjust to control the curve */
    border-bottom-right-radius: 200px; /* Adjust to control the curve */
}
#social_links>a{
    display: block;
    transform: translate(80px,0px);
    margin: 40px 0px;
}
#social_links>a:hover{
    border: 2px solid #06EA53;
    border-radius: 50%;
    padding: 5px;

}
#about{
    height: 100vh;
    width: 100vw;
    background-color: #1d1c1c;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#square{
    height: 300px;
    width: 300px;
    border: 5px solid #06EA53;
    border-radius: 8px;
    transform: translate(150px,210px);
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*margin: auto;*/
}
#square>div{
    height: 300px;
    width: 280px;
    background: linear-gradient(to bottom,#251B1B,#9B839A);
    transform: translate(-20px,-30px);
}
#about_img{
    height: 330px;
    transform: translate(-30px,-30px);
}
#about_heading{
    color: white;
    font-size: 30px;
    font-family: AnjaliOldLipi;
}
#about_heading2{
    color: white;
    font-size: 45px;
    font-family: "DejaVu Sans Mono";
}
.name{
    color: #06EA53;
}
#about_para{
    color: #B8AEAE;
    font-size: 20px;
    text-align: justify;
    font-family: AnjaliOldLipi;
}
#info{
    width: 600px;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 17px;
    font-family: Meera;
    font-weight: 80;
}
.first_words{
    color: white;
}
.second_words{
    color: #B8AEAE;
}
#rec1{
    width: 250px;
    height: 50px;
    background: black;
    border-radius: 60px;
}
#rec2{
    width: 180px;
    height: 48px;
    background: #06EA53;
    border-radius: 60px;
    transform: translateX(70px);
}

#rec2>h6{
    color: white;
    font-size: 18px;
    transform: translate(32px,12px);
}

#circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    transform: translate(12px,-43px);
}
#arrow{
    width: 25px;
    transform: translate(8px,6px);
}
#name_tag{
    color: white;
    font-size: 32px;
    transform: translate(300px,-43px);
    font-family: "Italianno", cursive;
    font-weight: 500;
    font-style: normal;
}
/* education */

#education{
    height: 80vh;
    width: 100vw;
    background-color: #434242;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.year{
    color: #06EA53;
    font-weight: 200;
    border: 2px solid #06EA53;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
#first_yr{
    position: relative;
    left: 85px;
}
#edu_heading{
    color: white;
    font-size: 30px;
    font-family: AnjaliOldLipi;
    position: relative;
    left: 45vw;
}
.exm_heading{
    color: white;
    font-size: 20px;
    font-family: Andika;
}
#heading1{
    position: relative;
    top: 60px;
}
.para{
    color: #B8AEAE;
    font-size: 18px;
}
#para1{
    transform: translate(80px,60px);
}
#second_yr{
    position: relative;
    left: 600px;
    top: -168px;
}
#heading2{
    position: relative;
    left: 515px;
    top: -110px;
}
#para2{
    transform: translate(600px,-110px);
}
#third_yr{
    position: relative;
    left: 80px;
    top: -40px;
}
#heading3{
    position: relative;
    left: -58px;
    top: 20px;
}
#para3{
    position: relative;
    left: 77px;
    top: 20px;
}
#fourth_yr{
    position: relative;
    left: 600px;
    top: -220px;
}
#heading4{
    position: relative;
    left: 485px;
    top: -165px;
}
#para4{
    transform: translate(600px,-167px);
}
#edu_img_rec{
    height: 300px;
    width: 250px;
    background: #1d1c1c;
    transform: translate(400px,230px);
    border-top-left-radius: 80px;
    border: 6px solid #558967;
}
#edu_img{
    height:300px;
    width :400px;
    transform: translateX(-120px);
}
/* Services */
#services{
    height: 100vh;
    width: 100vw;
    background: black;
    position: relative;
}
#service_heading1{
     position: absolute;
     top: 10px;
     color: white;
     font-family: AnjaliOldLipi;
     font-size: 30px;
     left: 45vw;
}
#service_heading2{
    position: absolute;
    top: 50px;
    color: white;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    left: 40vw;
}
#service_content{
    transform: translateX(80px);
}
.hexagon{
    position: relative;
    width: 170px;
    height: 100px;
    background: #06EA53;
    transform: translate(-50%,-50%);
}
.hexagon::after,
.hexagon::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #06EA53;

}
.hexagon::after{
    transform: rotate(60deg);
}
.hexagon::before{
    transform: rotate(-60deg);
}

#hex1{
    position: absolute;
    left: 550px;
    top: 290px;

}

#hex2{
    position: absolute;
    left: 900px;
    top: 290px;

}
#hex3{
    position: absolute;
    left: 400px;
    top: 500px;
}
#hex4{
    position: absolute;
    left: 1000px;
    top: 500px;
}
#hex5{
    position: absolute;
    left: 900px;
    top: 720px;
}
#hex6{
    position: absolute;
    left: 550px;
    top: 720px;
}

#service_logo{
    height: 300px;
    position: absolute;
    left: 580px;
    top: 350px;
}
#front_end_img{
    position: absolute;
    left: 523px;

    top: 220px;
}
.service_types{
    color: white;
    position: absolute;
    font-size: 18px;
}
#service1{
    top: 260px;
    left: 500px;
}
#service2{
    left: 850px;
    top: 260px;
}
#back_end_img{
    height: 60px;
    position: absolute;
    left: 868px;
    top: 220px;
}
#web_img{
    height: 60px;
    position: absolute;
    left: 967px;
    top: 420px;
}
#app_img{
    height: 60px;
    position: absolute;
    left: 865px;
    top: 650px;
}
#service3{
    left: 950px;
    top: 470px;
}
#service4{
    left: 855px;
    top: 690px;
}
#pro_img{
    height: 50px;
    position: absolute;
    left: 523px;
    top: 650px;
}
#service5{
    left: 490px;
    top: 680px;
}
#db_img{
    height: 50px;
    position: absolute;
    left: 370px;
    top: 425px;
}
#service6{
    left: 350px;
    top: 470px;
}
/* projects */

#projects{
    height: 80vh;
    width: 100vw;
    background-color: #2C2B2C;
    position: relative;
}
#project_heading1{
    position: absolute;
    top: 10px;
    color: white;
    font-family: AnjaliOldLipi;
    font-size: 30px;
    left: 45vw;
}
#project_heading2{
    position: absolute;
    top: 55px;
    color: white;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    left: 38vw;
}
#project_content{
    padding-top: 200px;
    padding-left: 130px;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
#project_content>div{
    position: relative;
    width: 300px;
    height: 300px;
    background: #3d3b3b;
    border: 1px solid gray;
    border-radius: 15px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}
#project_content>div:hover{
    border: 3px solid #06EA53;
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0px 0px 20px #06EA53;
}
#connect4_img1{
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
}
#connect4_img2{
    height: 100px;
    margin-left: 130px;
    margin-top: -15px;
}
.project_headings{
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: white;
    position: absolute;
}
#project1_heading{

    left: 40px;
    top: 180px;
}
.githubButtons{
    height: 40px;
    width: 140px;
    background: #2C2B2C;
    color: #06EA53;
    border-radius: 20px;
    border: 2px solid #06EA53;
    position: absolute;
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
}
#githubBtn1{
    top: 360px;

}
#date1{
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
    color: #06EA53;
    position: absolute;
    left: 190px;
    top: 370px;
}

#stock_img{
    height: 120px;
    position: absolute;
    left: 40px;
    top: 50px;
}
#project2_heading{
   left: 20px;
    top: 170px;
}
#githubBtn2{
    top: 360px;
}
#date2{
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
    color: #06EA53;
    position: absolute;
    left: 190px;
    top: 370px;
}
.date_circles{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #06EA53;
    position: absolute;
    left: 170px;
    top: 375px;
}
#project3_img1{
    height: 160px;
    position: absolute;
    left: 90px;
    top: 20px;
}
#project3_heading{
    left: 10px;
    top: 170px;
}
#githubBtn3{
    top: 360px;
}
#date3{
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
    color: #06EA53;
    position: absolute;
    left: 190px;
    top: 370px;
}

/* Assignments */

#assignments{
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: relative;
}
#assignments_heading{
    position: absolute;
    top: 10px;
    color: white;
    font-family: AnjaliOldLipi;
    font-size: 30px;
    left: 45vw;
}
#viewBtn_rec1{
    height: 40px;
    width: 170px;
    background: #434242;
    border-radius: 20px;
    position: relative;
    left: 1200px;
    top: 40px;
}
#viewBtn{
    height: 40px;
    width: 90px;
    position: absolute;
    background: #06EA53;
    border-radius: 20px;
    right: 0;
    border-color: transparent;
    color: white;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: 2500;
    font-style: normal;
}
#viewBtn_circle{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: white;
    /*position: absolute;*/
    /*left: 3px;*/

}
#arrow2{
    width: 25px;
    transform: translate(8px,6px);
}
#assignment_content{
    width: 80vw;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
#assignment_content>div{
    height: 230px;
    width: 210px;
    background: #2C2B2C;
    border-radius: 40px;
}
#assignment_content>div:first-child{
    transform: translate(160px,75px);
}
#assignment_content>div:nth-child(2){
    transform: translate(160px,75px);
}
#assignment_content>div:nth-child(3){
    transform: translate(160px,75px);
}
#assignment_content>div:nth-child(4){
    transform: translate(160px,75px);
}
#assignment_content>div:nth-child(5){
    transform: translate(160px,80px);
}
#assignment_content>div:nth-child(6){
    transform: translate(160px,80px);
}
#assignment_content>div:nth-child(7){
    transform: translate(160px,80px);
}
#assignment_content>div:nth-child(8){
    transform: translate(160px,80px);
}
#assignment_content>div>img{
    height: 70px;
    transform: translate(60px,30px);
}
#assignment_content>div>h5{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #B8AEAE;
    transform: translate(35px,10px);
}
.viewButtons{
    width: 70px;
    height: 30px;
    border-radius: 7px;
    background: #06EA53;
    color: white;
    border-color: transparent;
    transform: translateX(65px);
}

/* skills */

#skills{
    height: 115vh;
    width: 100vw;
    background-color: #2C2B2C;
    position: relative;
    overflow-y: hidden;
}
#skill_heading{
    position: absolute;
    top: 10px;
    color: white;
    font-family: AnjaliOldLipi;
    font-size: 30px;
    left: 40vw;
}
#skill_rec1{
    height: 120px;
    width: 660px;
    background: black;
    color: white;
    position: absolute;
    left: 480px;
    top: 150px;

}
#skill_para{
    margin-left: 10px;
    margin-top: 10px;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: 2500;
    font-style: normal;
}
#skill_rec3{
    height: 10px;
    width: 75px;
    background: #06EA53;
    position: absolute;
    left: -10px;
    top: -20px;
}
#skill_rec4{
    width: 10px;
    height: 75px;
    background: #06EA53;
    position: absolute;
    left: -20px;
    top: -20px;
}
#skill_rec5{
    height: 10px;
    width: 75px;
    background: #06EA53;
    position: absolute;
    left: 610px;
    top: 130px;
}
#skill_rec6{
    width: 10px;
    height: 75px;
    background: #06EA53;
    position: absolute;
    left: 675px;
    top: 60px;
}
#skill_content{
    transform: translateY(50px);
    width: 100vw;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
#skill_content>div{
    height: 220px;
    width: 140px;
    background: #2C2B2C;
    border-radius: 80px;
    border: 1px solid #06EA53;
    transform: translate(130px,330px);
}
#skill1>img{
    height: 60px;
    transform: translate(25px,25px);
}
#skill2>img{
    height: 60px;
    transform: translate(39px,25px);
}
#skill3>img{
    height: 60px;
    transform: translate(20px,25px);
}
#skill4>img{
    height: 60px;
    transform: translate(12px,20px);
}
#skill5>img{
    height: 50px;
    transform: translate(45px,25px);
}
#skill6>img{
    height: 60px;
    transform: translate(42px,25px);
}
.circular-progress{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: white;
    left: 20px;
    top: 35px;
}
.circular-progress:before {
    content: "";
    position: absolute;
    left: 9px;
    top: 10px;
    height: 80px;
    width: 80px;
    background-color: #2C2B2C;
    border-radius: 50%;
}
.value-container {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: white;
    left: 30px;
    top: 36px;
}
#achievements{
    width: 80vw;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    transform: translate(250px,280px);
    overflow-x: hidden;
}

#achievements>div>img{
    height: 230px;
    width: 350px;
    border-radius: 15px;
    transform: translate(30px,-10px);
}
#achievements>div>p{
    color: #B8AEAE;
    font-size: 14px;
    transform: translate(30px,-10px);
    font-family: AnjaliOldLipi;
    font-weight: 900;
}
#achievements>div:nth-child(2)>img{
    transform: translateY(-30px);
}
#achievements>div:nth-child(2)>p{
    transform: translate(8px,-20px);
}


/* Gallery */

#gallery {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    overflow: hidden;

}
#gallery_heading{
    color: white;
    transform: translate(800px,-370px);
    font-family: AnjaliOldLipi;
    font-size: 30px;
}
.gallery_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.imgContainer{
    width: 100%;
    /*height: 600px;*/
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

}

.slide_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.img{
    position: relative;
    height: 370px;
    width: 240px;
    filter: saturate(10%);
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button{
    position: absolute;
    width: 240px;
    height: 370px;
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

#slider1:target ~ .imgContainer #img1,
#slider1:target ~ .imgContainer #button1{
    width: 300px;
    height: auto;
    background-color: transparent;
    filter: saturate(100%);
}

#slider2:target ~ .imgContainer #img2,
#slider2:target ~ .imgContainer #button2{
    width: 300px;
    height: auto;
    background-color: transparent;
    filter: saturate(100%);
}

#slider3:target ~ .imgContainer #img3,
#slider3:target ~ .imgContainer #button3{
    width: 300px;
    height: auto;
    background-color: transparent;
    filter: saturate(100%);
}

#slider4:target ~ .imgContainer #img4,
#slider4:target ~ .imgContainer #button4{
    width: 300px;
    height: auto;
    background-color: transparent;
    filter: saturate(100%);
}

#slider5:target ~ .imgContainer #img5,
#slider5:target ~ .imgContainer #button5{
    width: 300px;
    height: auto;
    background-color: transparent;
    filter: saturate(100%);
}

#slider6:target ~ .imgContainer #img6,
#slider6:target ~ .imgContainer #button6{
    width: 300px;
    height: auto;
    background-color: transparent;
    filter: saturate(100%);
}

#slider7:target ~ .imgContainer #img7,
#slider7:target ~ .imgContainer #button7{
    width: 300px;
    height: auto;
    background-color: transparent;
    filter: saturate(100%);
}
#slider1:target ~ .imgContainer{
    left: 60%;

}
#slider2:target ~ .imgContainer{
    left: 40%;
}
#slider3:target ~ .imgContainer{
    left: 20%;
}
#slider4:target ~ .imgContainer{
    left: 0%;
}
#slider5:target ~ .imgContainer{
    left: -20%;
}
#slider6:target ~ .imgContainer{
    left: -40%;
}
#slider7:target ~ .imgContainer{
    left: -60%;
}

/* Contact */

#contact{
    height: 95vh;
    width: 100vw;
    background-color: #2C2B2C;
    position: relative;
    overflow: hidden;

}
#contact_content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    transform: translate(100px,150px);
}

#contact_heading{
    position: absolute;
    top: 15px;
    color: white;
    font-family: AnjaliOldLipi;
    font-size: 35px;
    left: 45vw;
}
#contact_details>div:first-child>h4{
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background: -webkit-linear-gradient(#06EA53, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateX(130px);
}
#contact_details>div:first-child>p{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #B8AEAE;
    transform: translate(130px,-20px);
}
#info2{
    transform: translate(110px,20px);

}
#info2>div{
   margin: 24px;
}
#info2>div>span{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    position: absolute;
    left: 75px;

}
#message_form{
    width: 400px;
    height: 500px;
    border: 1px solid #06EA53;
    border-radius: 20px;
    position: relative;
    left: 110px;
    top: 7px;
    background: #4e5450;
}
#message_form_heading{
    font-size: 30px;
    color: #06EA53;
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
    transform: translate(120px,10px);
}
.labels{
    font-size: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-left: 65px;
    margin-top: 10px;
}
.fields{
    height: 25px;
    width: 250px;
    margin-left: 65px;
    border-radius: 10px;
    border: 2px solid white;
    background: #4e5450;
    color: #B8AEAE;
    font-family: "Inder", sans-serif;
    font-weight: 600;

}
#message_form>form>textarea{
    width: 250px;
    margin-left: 65px;
    border: 2px solid white;
    background: #4e5450;
    color: #B8AEAE;
    font-family: "Inder", sans-serif;
    font-weight: 600;
    border-radius: 10px;
}
#submit_btn{
    height: 30px;
    width: 100px;
    color: white;
    background: #06EA53;
    border-radius: 10px;
    border-color: transparent;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-left: 150px;
    margin-top: 20px;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}
#submit_btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/* footer */

#line{
    border-color: gray;
    width: 72vw;
    transform: translate(10px,240px);
}
#footer_logo{
    height: 50px;
    transform: translate(220px,260px);
}
#footer_ribbon{
    color: white;
    font-size: 20px;
    font-family: "Sen", sans-serif;
    transform: translate(680px,220px);
}
#footer_links{
    transform: translate(1250px,190px);
}
#footer_links>a{
    margin: 10px;

}
#footer_links>a>img{
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}
#footer_links>a>img:hover{
    transform: scale(1.5);
}
/*footer{*/
/*    background: #1d1c1c;*/
/*    !*height: 80px;*!*/
/*    width: 100vw;*/
/*    border: 1px solid #1d1c1c;*/
/*    border-top-color: white;*/
/*}*/

/*#footer_logo{*/
/*    display: flex;*/
/*    transform: translate(80px,30px);*/
/*}*/
/*#footer_ribbon{*/
/*    transform: translate(40vw,-7px);*/
/*    color: white;*/
/*    font-size: 20px;*/
/*}*/
/*.icons{*/
/*    transform: translate(78vw,-40px);*/
/*    margin: 0px 9px;*/
/*}*/

@media all and (max-width: 1440px) {

    #home{
        height: 801px;
    }
    #social_links>a{
        transform: translateX(60px);
    }
    #about{
        height: 801px;
    }
    #rec1{
        transform: translateY(60px);
    }
    #name_tag{
        transform: translate(300px,15px);
    }
    #info{
        font-size: 22px;
        transform: translateY(40px);
    }
    #about_para{
        font-size: 21px;
        transform: translateY(20px);
    }
}
@media all and (max-width: 1024px) {

    #home{
        height: 801px;
    }
    #circle1{
        height: 320px;
        width: 320px;
        transform: translateX(-15px);
    }
    #circle2{
        height: 300px;
        width: 300px;
        transform: translateX(-10px);
    }
    #my_image{
        height: 340px;
        transform: translate(17px,-41px);
    }
    #circle3{
        height: 55px;
        width: 60px;
        transform: translate(110px,-13px);
    }
    #circle4{
        height: 40px;
        width: 40px;
        transform: translate(-5px,-320px);
    }
    #social_links>a{
        margin: 20px 0px;
        transform: translateX(20px);
    }
    #home_hd2{
        font-size: 45px;
    }
    #home_hd3{
        font-size: 30px;
    }
    #circle5{
        transform: translate(-140px,-500px);
    }
    #circle6{
        transform: translate(-200px,-90px);
    }
}
@media all and (max-width: 768px){
    header>nav>a{
        color: transparent;
        width: 760px;
    }
    #home {
        grid-template-columns: repeat(1, 1fr);
        /*height: 801px;*/
    }
    .heading{
        transform: translateY(400px);

    }
    #circle1{
        height: 320px;
        width: 320px;
        transform: translate(-10px,-240px);
    }
    #circle2{
        height: 300px;
        width: 300px;
        transform: translateX(-10px);
    }
    #circle3{
        height: 50px;
        width: 50px;
        transform: translate(113px,-14px);
    }
    #circle4{
        height: 40px;
        aspect-ratio: 1/1;
        transform: translate(-6px,-300px);
    }
    #my_image{
        height: 330px;
        transform: translate(18px,-41px);
    }
    #btn1{
        transform: translate(100px,490px);
        width: 100px;
    }
    #first_word{
        position: absolute;
        left: 80px;
        top: -390px;
    }
    #second_word{
        position: absolute;
        left: 100px;
        top: 70px;
        font-size: 30px;
    }
    #home_hd2{
        font-size: 35px;
        transform: translate(-15px,490px);
    }
    #home_hd3{
        font-size: 27px;
        transform: translate(-10px,500px);
    }
    #social_links>a{
        transform: translate(55px,-240px);

    }
    #social_links>a>img{
        height: 37px;
    }
    #social_links>a:hover{
        padding: 2px;
    }
    .blur_circles{
        height: 40px;
        width: 40px;
    }
    #circle5{
        transform: translate(410px,50px);
    }
    #circle6{
        transform: translate(-100px,-250px);
    }
}

